<div class="container">
 <div class="card text-white bg-secondary">
   <div class="row justify-content-center">
        <%= render 'shared/errors' %>

        <%= form_with(model: @article, local: true) do |form| %>
      <div class="mb-3">
            <%= form.label :title, 'Title:', class: 'form-label' %>
            <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="mb-3">
            <%= form.label :body, 'Body:', class: 'form-label' %>
            <%= form.text_area :body, class: 'form-control', rows: 10 %>
        </div>

      <div class="d-grid mx-auto mb-3 col-2">
         <%= form.submit "Submit", class: 'btn btn-light btn-sm' %>
      </div>
      <% end %>
   </div>
  </div>
</div><br>
