<%= render 'shared/nav' %>
<h1 class="text-center mt-4"><%= @article.title %></h1>

<div class="container">
   <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card-header text-center shadow mb-3 rounded">
      <div class="card-header font-italic">
        By <%= @article.user.user_name if @article.user %>
        </div>
        <div class="card-body text-white bg-dark">
          <div class="card-text text-left"><%= simple_format(@article.body) %></div>
          <button><%= link_to "Edit", edit_article_path(@article), class: "btn-btn-outline-info" %> |</button>
          <button><%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></button> 
        </div>
        <div class="card-footer text-muted text-center">
          <small>Created <%= time_ago_in_words(@article.created_at) %> ago</small> |
          <small>Updated <%= time_ago_in_words(@article.updated_at) %> ago</small>
        </div>
       </div>
      </div>
    </div>
  </div>
  